head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  style.
    a:visited {
      background-color: cyan;
    }

    a:hover {
      background-color: lightgreen;
    }

    a:active {
      background-color: hotpink;
    }

body
  if urls
    ul.list-group
    each url in urls
      li.list-group-item
        a(href=`${url.href}` target='_blank')= url.title
      li.list-group-item
        p= url.html
