head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='diesel.css')


body

  a#hhlink.btn.btn-info.center-block(href=`diesel`) Go here
  if urls
    ul.list-group
    each url in urls
      li.list-group-item
        a(href=`${url.href}` target='_blank')= url.title
      li.list-group-item
        if url.html
          p= url.html
